@use "../variables.scss" as brand;
@import "../../node_modules/bootstrap/scss/functions";

//Include any default variable overrides here
$primary: brand.$primary;
$secondary: brand.$secondary;

//Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/bootstrap";

// 8. Add additional custom code here
pre {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0px 13px 42px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 13px 42px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 13px 42px -29px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  margin-bottom: 1.5rem !important;
}
p,
li {
  code {
    background-color: $gray-800;
    border-radius: 0.2rem;
    color: white;
    padding: 0.05rem 0.2rem 0.1rem 0.2rem;
  }
}
