@use "../../variables.scss" as *;

.logoTitleGradient {
  background: $secondary;
  background: linear-gradient(to right, $secondary 0%, $primary 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.5rem;
}
